#myHeader
{
    background-color: #FBEEC1;
    color: #BC986A;
    font-size: 80px;
    padding: 40px;
}
#main
{
    text-align: center;
}

.flexbox
{
    display:flex;
    justify-content: center;
    align-items: center;
}

#flex-container
{
    display:flex;
    background-color: #DAAD86;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 700px;
    z-index: 1;
}   

#flex-container > div 
{
background-color:blanchedalmond;
color:sienna;
width: 100px;
margin: 10px;   
font-size: 40px;
}

#instructions
{
    font-size: 25px;
    position:absolute;
    left: 0px;
    top: 400px;
    margin-right: 1100px;
    z-index: 0;
}
